.rooms_reserved{
    width: 90%;
    padding: 20px;
    height: fit-content;
    margin: 50px;
    border-radius: 10px;

    border-color: #67a8df;
    border-style: solid;
    border-width: 2px;
}
.rooms_reserved li{
    font-weight: bold;
}
.rooms_reserved{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}  
.rooms_reserved h1{
    color: #fc6b13;
}
input[type="radio"]{
    display: inline-block;
    margin-right: 5px;
}
.customer-info{
    width: 90%;
    padding: 20px;
    height: fit-content;
    margin: 50px;
    border-radius: 10px;

    border-color: #67a8df;
    border-style: solid;
    border-width: 2px;
    
}
.customer-info h1{
    font-size: 20px;
    margin-left: 15px;
    color: #fc6b13;
    margin-bottom: 20px;
}
.customer-info .lable{
    display: inline-block;
    margin-left: 15px;
    width: 100px;
}
.customer-info .lable-dob{
    font-size: 15.5px;
}
.customer-info input{
    padding: 8px;
    border-radius: 3px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 13px;
}
#sex-options{
    padding: 3px;
    border-radius: 3px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 13px;
}
select{
    margin-top: 13px;
}
.lables{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.amount{
    width: 90%;
    padding: 20px;
    height: 300px;
    margin: 50px;
    border-radius: 10px;

    border-color: #67a8df;
    border-style: solid;
    border-width: 2px;
}
.amount .title{
    margin-left: 15px;
    color: #fc6b13;
    margin-bottom: 20px;
}
.amount .way-of-payment label{
    font-weight: bold;
    margin-right: 10px;
}
.calculation h1{
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.amnt-brr{
    margin-top: 30px;
}
.amount-in-birr, .length-of-stay, .answer{
    font-size: 23px;
}
.straight-line {
    border-color: #fc6b13;
    border-style: solid;
    border-width: 2px 0 0 0; 
    width: 30%;
    display: block; 
    margin: 0 auto; 
}
.submission-btn{
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin-bottom: 20px;
}
.submission-btn button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fc6b13;
    color: white;
    cursor: pointer;
    border-width: 2px;
}

.submission-btn button:hover {
    background-color: white;
    color: #fc6b13;

    border-color: #fc6b13;
    border-style: solid;
}
.deluxe-type, .Standard-type, .double-type{
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
.modal-content {
    background-color: #fff;
    padding: 10px;
    margin: 1% auto;
    width: 500px;
    text-align: center;
    height: 500px;
    border-radius: 10px;
  }
.modal button {
    margin-top: 10px;
    background-color: #fc6b13;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
.modal button:hover{
    background-color: #da5f13;
}
.modal input{
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 150px;
}
.information-customer h4{
    display: inline-block;
}
.information-customer{
    display: grid;
    grid-template-rows: repeat(5, 30px);
}
.information-customer .room{
    color: #fc6b13;
    font-size: 20px;
    font-weight: bold;
}
@media(max-width: 1050px){
    .lable{
        font-size: 15px;
    }
    .lables{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .customer-info{
        height: 500px;
    }
}
@media(max-width: 552px){
    .customer-info{
        height: 650px;
    }
    .rooms_reserved, .customer-info, .amount{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media(max-width: 530px){
    .rooms_reserved li{
        font-size: 13px;
    }
}
@media(max-width: 440px){
    .rooms_reserved li{
        font-size: 10px;
    }
    .customer-info input{
        width: 60%;
    }
}