.rooms-set, .general{
    width: 90%;
    padding: 20px;
    height: fit-content;
    margin: 50px;
    border-radius: 10px;

    border-color: #67a8df;
    border-style: solid;
    border-width: 2px;
}
.room-set{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
li{
    margin-top: 20px;
}
.room{
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fc6b13;
    color: white;
    cursor: pointer;
    border-width: 2px;
}

button:hover {
    background-color: white;
    color: #fc6b13;

    border-color: #fc6b13;
    border-style: solid;
}
.types .deluxe h3, .standard h3, .single h3, .double h3{
    display: inline-block;
    margin-top: 20px;
}
.birr{
    margin-left: 10px;
}
.general input{
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
@media(max-width: 746px){
    .room{
        padding: 5px;
        margin-bottom: 10px;
        width: 80px;
    }
}